In [8]:
import pandas as pd
from sklearn.model_selection import GroupKFold

In [15]:
df = pd.read_csv('../input/train_image_level.csv')
df['class_id'] = 0
for i in range(df.shape[0]):
    if df.loc[i,'label'] == 'none 1 0 0 1 1':
        df.loc[i,'class_id'] = 1

In [16]:
df

,id,boxes,label,StudyInstanceUID,class_id
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75,0
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed,1
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7,0
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2,0
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e,0
...,...,...,...,...,...
6329,ffcc6edd9445_image,NaN,none 1 0 0 1 1,7e6c68462e06,1
6330,ffd91a2c4ca0_image,NaN,none 1 0 0 1 1,8332bdaddb6e,1
6331,ffd9b6cf2961_image,"[{'x': 2197.38566, 'y': 841.07361, 'width': 31...",opacity 1 2197.38566 841.07361 2513.80265 1292...,7eed9af03814,0
6332,ffdc682f7680_image,"[{'x': 2729.27083, 'y': 332.26044, 'width': 14...",opacity 1 2729.27083 332.26044 4225.52099 2936...,a0cb0b96fb3d,0
6333,ffe942c8655f_image,"[{'x': 208.86463, 'y': 91.53448, 'width': 450....",opacity 1 208.86463 91.53448 659.8321 719.5892...,7d82d53204b8,0

In [17]:
label_cols = df.columns[4]

In [18]:
label_cols

'class_id'

In [19]:
gkf  = GroupKFold(n_splits = 5)
df['fold'] = -1
for fold, (train_idx, val_idx) in enumerate(gkf.split(df, groups = df.StudyInstanceUID.tolist())):
    df.loc[val_idx, 'fold'] = fold

In [20]:
df

,id,boxes,label,StudyInstanceUID,class_id,fold
0,000a312787f2_image,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75,0,4
1,000c3a3f293f_image,NaN,none 1 0 0 1 1,ff0879eb20ed,1,0
2,0012ff7358bc_image,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7,0,4
3,001398f4ff4f_image,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2,0,1
4,001bd15d1891_image,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e,0,3
...,...,...,...,...,...,...
6329,ffcc6edd9445_image,NaN,none 1 0 0 1 1,7e6c68462e06,1,3
6330,ffd91a2c4ca0_image,NaN,none 1 0 0 1 1,8332bdaddb6e,1,3
6331,ffd9b6cf2961_image,"[{'x': 2197.38566, 'y': 841.07361, 'width': 31...",opacity 1 2197.38566 841.07361 2513.80265 1292...,7eed9af03814,0,2
6332,ffdc682f7680_image,"[{'x': 2729.27083, 'y': 332.26044, 'width': 14...",opacity 1 2729.27083 332.26044 4225.52099 2936...,a0cb0b96fb3d,0,1
6333,ffe942c8655f_image,"[{'x': 208.86463, 'y': 91.53448, 'width': 450....",opacity 1 208.86463 91.53448 659.8321 719.5892...,7d82d53204b8,0,3

In [22]:
for fold in range(5):
    fold_df = df[df['fold']==fold]
    print(fold_df.class_id.value_counts())

0    868
1    399
Name: class_id, dtype: int64
0    838
1    429
Name: class_id, dtype: int64
0    876
1    391
Name: class_id, dtype: int64
0    875
1    392
Name: class_id, dtype: int64
0    837
1    429
Name: class_id, dtype: int64

In [23]:
df.StudyInstanceUID.nunique()

6054

In [24]:
df.to_csv('../input/train_image_level_2class.csv',index=False)

In [25]:
df_train = pd.read_csv('../input/train_v1.csv')

In [26]:
df_train

,id,boxes,label,StudyInstanceUID,path,image_level
0,000a312787f2,"[{'x': 789.28836, 'y': 582.43035, 'width': 102...",opacity 1 789.28836 582.43035 1815.94498 2499....,5776db0cec75,../input/train/000a312787f2.png,opacity
1,000c3a3f293f,NaN,none 1 0 0 1 1,ff0879eb20ed,../input/train/000c3a3f293f.png,none
2,0012ff7358bc,"[{'x': 677.42216, 'y': 197.97662, 'width': 867...",opacity 1 677.42216 197.97662 1545.21983 1197....,9d514ce429a7,../input/train/0012ff7358bc.png,opacity
3,001398f4ff4f,"[{'x': 2729, 'y': 2181.33331, 'width': 948.000...",opacity 1 2729 2181.33331 3677.00012 2785.33331,28dddc8559b2,../input/train/001398f4ff4f.png,opacity
4,001bd15d1891,"[{'x': 623.23328, 'y': 1050, 'width': 714, 'he...",opacity 1 623.23328 1050 1337.23328 2156 opaci...,dfd9fdd85a3e,../input/train/001bd15d1891.png,opacity
...,...,...,...,...,...,...
6329,ffcc6edd9445,NaN,none 1 0 0 1 1,7e6c68462e06,../input/train/ffcc6edd9445.png,none
6330,ffd91a2c4ca0,NaN,none 1 0 0 1 1,8332bdaddb6e,../input/train/ffd91a2c4ca0.png,none
6331,ffd9b6cf2961,"[{'x': 2197.38566, 'y': 841.07361, 'width': 31...",opacity 1 2197.38566 841.07361 2513.80265 1292...,7eed9af03814,../input/train/ffd9b6cf2961.png,opacity
6332,ffdc682f7680,"[{'x': 2729.27083, 'y': 332.26044, 'width': 14...",opacity 1 2729.27083 332.26044 4225.52099 2936...,a0cb0b96fb3d,../input/train/ffdc682f7680.png,opacity
6333,ffe942c8655f,"[{'x': 208.86463, 'y': 91.53448, 'width': 450....",opacity 1 208.86463 91.53448 659.8321 719.5892...,7d82d53204b8,../input/train/ffe942c8655f.png,opacity